@model PagedResult<CustomerDto>

    <div>
        <table id="tblData" class="table table-striped table-bordered table-sm" style="width:100%">
            <thead>
                <tr class="bg-gradient-primary text-white">
                    <th>Reférence</th>
                    <th>Nom</th>
                    <th>N° de tél</th>
                    <th>Solde</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Results)
                {
                    <tr>
                        <td>
                            @item.Reference
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.PhoneNumber
                        </td>
                        <td class="text-right  text-danger">
                            @item.AccountBalance.GetValueOrDefault().ToString("N0")
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="text-right text-danger font-weight-bold">
                        @Model.Results.Sum(u => u.AccountBalance).GetValueOrDefault().ToString("N0")
                    </td>
                </tr>
            </tfoot>
        </table>
        @(await Component.InvokeAsync<PagerViewComponent>(Model))
    </div>
