@model PagedResult<InvoiceHeaderDto>

<div>
    <table id="tblData" class="table table-striped table-bordered table-sm" style="width:100%">
        <thead>
            <tr class="bg-gradient-primary text-white">
                <th>N°</th>
                <th>Nom du client</th>
                <th>Date</th>
                <th>Echéance</th>
                <th>Net à payer</th>
                <th>Avance</th>
                <th>Reste à payer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Results)
            {
                <tr>
                    <td>
                        <a href="/Operations/InvoiceHeader/Summary/@item.Id" class="text-decoration-none" style="cursor:pointer">
                            @item.Number
                        </a>
                    </td>
                    <td>
                        @item.Customer.Name
                    </td>
                    <td>
                        @item.Date.GetValueOrDefault().ToShortDateString()
                    </td>
                    <td class="text-right">
                        @item.PaymentDueDate.GetValueOrDefault().ToShortDateString()
                    </td>
                    <td class="text-right">
                        @item.NetAmountToPay.GetValueOrDefault().ToString("N0")
                    </td>
                    <td class="text-right">
                        @item.AdvancedAmount.GetValueOrDefault().ToString("N0")
                    </td>
                    <td class="text-right">
                        @item.RemainingAmountToPay.GetValueOrDefault().ToString("N0")
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td class="text-right font-weight-bold">
                    @Model.Results.Sum(u => u.NetAmountToPay).GetValueOrDefault().ToString("N0")
                </td>
                <td class="text-right font-weight-bold">
                    @Model.Results.Sum(u => u.AdvancedAmount).GetValueOrDefault().ToString("N0")
                </td>
                <td class="text-right font-weight-bold text-danger">
                    @Model.Results.Sum(u => u.RemainingAmountToPay).GetValueOrDefault().ToString("N0")
                </td>
            </tr>
        </tfoot>
    </table>
    @(await Component.InvokeAsync<PagerViewComponent>(Model))
</div>